.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.container{
    margin: 50px auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 300px;
    border-radius: 15px;
}
.qr-img img{
    max-width: 100%;
    border-radius: 15px;
}
.qr-img{
    display: flex;
    justify-content:center;
}
.qr-text{
    text-align: center;
    padding: 15px;
}
h1{
    font-size: 20px;
}
p{
    color: hsl(220, 15%, 55%);
}